.at-card {
  background: #fff;
  border-radius: 2px;
}

.at-card-shadow {
  box-shadow:  0 14px 28px rgba(0,0,0,0.20), 
               0 10px 10px rgba(0,0,0,0.15);
  transition: 0.4s ease-in-out;
  &:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 
              0 15px 12px rgba(0,0,0,0.22);
  };
}

// TODO: this one need be deleted
.at-secondary-text {
  color: #999
}

.at-text-secondary{
  color: #999
}