//sidebar
$menuBg: #10cebc;
$subMenuBg: #31aaaa;
$menuHover:#001528;

$fuzhu1: rgba(59, 201, 204, 0.23);
$fuzhu2: #62D767;

$shadow: #CCC;
$background: #EAEAEA;
$shallow-background: #e2e1e0;

$sd: rgba(255, 232, 143, 0.94);


